{% extends 'page/base.html' %}
{% load crispy_forms_tags %}
{% load static %}


{% block content %}
    
        <h1 style="color: cadetblue;">{{dest.name}}</h1>
        <img src="{{dest.img.url}}" alt="" >
        <div class="pricing">
            <p class="lead">Adult Prices : £{{dest.adult_price}}</p>
            <p class="lead">Child Prices : £{{dest.child_price}}</p>
            <p class="lead">Infant Prices : £{{dest.infant_price}}</p>
            <script>
                let adult_prices = {{dest.adult_price}};
                let child_prices = {{dest.child_price}};
            </script>
        </div>       
   
<div class="intchoice">

<form action='pay' method="post">
    {% csrf_token %}
    {{ forms|crispy }}
  

    <h1 id="final" >0</h1>
    <input type="submit" class="submit" name="Book" value='Book'>
</form>    
<script>
    // Get references to the input fields
const adultInput = document.getElementById('id_adult');
const childrenInput = document.getElementById('id_children');
const infantsInput = document.getElementById('id_infants');

// Add event listeners for real-time updates
adultInput.addEventListener('input', updateValues);
childrenInput.addEventListener('input', updateValues);
infantsInput.addEventListener('input', updateValues);

function updateValues() {
const adults = adultInput.value || 0; // Fallback to 0 if empty
const children = childrenInput.value || 0;
const infants = infantsInput.value || 0;
document.getElementById("final").innerHTML = adult_prices*adults + child_prices*children;
}
</script>

</div>
{% endblock %}